@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;0,900;1,400&display=swap');

:root {
    /*--------CORES---------*/ 
    --bg-color1: #141518;
    --bg-color2: #1B1C1F;
    --title-color1: #8880FE;
    --title-color2: #8794e5;
    --menu-color: #6F91FD; 
    --text-color: #C5C1C1;

    /*--------FONTES--------*/
    --font: 'Montserrat';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background-color: var(--bg-color1);
    color: var(--text-color);
}

header > img { 
    width: 100%;
    height: 370px;
}

nav { 
    min-height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: var(--bg-color2);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.151)
}

nav > a {
    color: var(--menu-color);
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    padding: 20px;
}

nav > a:hover {
    text-decoration: underline;
    color: var(--title-color1);
}

article { 
    padding: 30px 20px 50px 20px; 
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    color: var(--title-color1);
    margin-bottom: 30px;
}

h1::after { 
    content: '♪♪';
}

p {
    text-align: justify;
    font-size: 1.2em;
    color: var(--text-color);
    padding: 0px 20px;
    margin: 15px 0px; 
    line-height: 30px;
}

#pag-funcoes {
    background-color: var(--bg-color2);
    padding: 30px 20px; 
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.178);
}

h2 {
    color: var(--title-color2);
    font-size: 2em;
    font-weight: 800;
    padding: 10px 20px; 
}

ul {
    font-size: 1.3em; 
    margin: 20px;
    list-style-type: '\♫\00A0\00A0';
    list-style-position: inside;
    line-height: 30px;
}

#pag-beneficios {
    padding: 30px 20px 50px 20px; 
}

#pag-beneficios h2 {
    color: var(--title-color1);
}

.container {
    display: flex;
}

.card-container {
    flex: 1; /*Faz com que os cards ocupem o container com a mesma largura */
    display: flex;
    flex-direction: column;
    align-items: center; /*Alinha os elementos filhos do card no centro, sem essa propriedade as imagens ficão coladas no flex-start*/
    background-color: #2D2E31;
    margin: 10px; 
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.418);
    transition: 0.5s;
}

.card-container:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.418);
}

h3 {
    text-align: center;
    font-size: 1.4em;
    color: var(--menu-color);
    margin: 10px 0px;
}

.card-content p {
    margin: 0; 
    text-align: center; 
    font-size: 1.1em;
    line-height: 25px;
}

#pag-download {
    background-color: var(--bg-color2);
    padding: 30px 20px 0 20px; 
    height: 400px;
}

#pag-download p {
    text-align: center;
}

#container-button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#container-button img {
    margin-left: 5px;
    width: 35px;
}

.button {
    width: 23%;
    height: 50px;
    padding: 8px 20px;
    border-radius: 28px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.button a {
    margin-left: 10px;
    font-size: 1.1em;
    color: #fff; 
    text-decoration: none;
}

.download {
    margin-right: 60px;
    background-color: var(--title-color2);
    transition: 0.5s;
}

.download:hover {
    background-color: var(--title-color1);
}

.browser {
    border: 1px solid var(--title-color2);
    transition: 0.5s;
}

.browser:hover {
    border: 3px solid var(--title-color1);
}

video {
    width: 500px;
}

footer p {
    text-align: center;
}

footer a {
    text-decoration: none; 
    color: var(--text-color);
}

footer a:hover {
    color: var(--title-color1);
}