@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;0,900;1,400&display=swap');

:root {
    /*--------CORES---------*/ 
    --footer-bg-color:#1B1C1F;
    --input-bg-color:#242529;
    --input-text-color:#C5C1C1;
    --button-color1:#6C63FF;
    --button-color2: #4a46a3;
}

h1 { 
    margin: 30px 0px;
}

p {
    text-align: center;
    margin: 0;
}

form {
    width: 400px;
    margin: auto;
    font: bold 1em 'Montserrat', sans-serif; 
}

form input, select, textarea {
    font: 1em 'Montserrat', sans-serif; 
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid black;
    outline: 0;
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
}

form input::placeholder {
    color: var(--input-text-color);
}

form label {
    color: #fff;
}

.data-hora-server {
    display: flex;
    justify-content: space-between;
}

.input-small {
    flex: 0; 
}

form fieldset {
    border: 1px solid black; 
    background: var(--input-bg-color);
    margin-bottom: 10px;
    padding: 10px;
}

form fieldset legend {
    color: white; 
}

form fieldset > div label {
    color: var(--input-text-color);
    font: normal 1em 'Montserrat', sans-serif;
}

fieldset #dispositivo, #problemas {
    display: flex;
    flex-direction: column;
}

form input[type="radio"], input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-left: 30px;
}

textarea {
    height: 80px;
}

.button-container {
    display: flex;
}

input[type="submit"], input[type="reset"] {
    padding: 0;
    margin: 20px;
    background-color: var(--button-color1);
    color: white;
    font: bold 1.1em 'Montserrat', sans-serif;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: var(--button-color2);
}

footer {
    margin-top: 30px;
    background-color: var(--footer-bg-color);
    height: 40px; 
}

footer p {
    line-height: 40px;
}

